<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locationCount</key>
	<integer>2</integer>
	<key>detailsInteractionCount</key>
	<integer>2</integer>
	<key>minEnjoyableTemperatureInFahrenheit</key>
	<integer>68</integer>
	<key>maxEnjoyableTemperatureInFahrenheit</key>
	<integer>98</integer>
</dict>
</plist>
